---
import Image from "astro/components/Image.astro";
import MainLayout from "@/layouts/MainLayout.astro";

import omlette from "@/assets/image-omelette.jpeg";
---

<MainLayout
  title="Frontend Mentor | Recipe Page"
  description="A recipe page challenge from Frontend Mentor."
>
  <main>
    <div class="mx-auto bg-theme-white md:my-28 md:w-184.5 md:rounded-3xl">
      <div class="mb-8 px-0 pt-0 md:rounded-xl md:px-10 md:pt-10">
        <Image
          src={omlette}
          alt="Yummy Omlette"
          loading={"eager"}
          class="md:rounded-xl"
        />
      </div>
      <section class="mx-10 mb-8">
        <h1
          class="mb-4 font-young-serif text-[40px] leading-none text-theme-dark-charcoal md:leading-normal"
        >
          Simple Omelette Recipe
        </h1>
        <p class="text-md mb-10 text-theme-wenge-brown">
          An easy and quick disk, perfect for any meal. This classic omellet
          combines beaten eggs cooked to perfection, optionally filled with your
          choice of cheese, vegatables, or meats.
        </p>
        <div class="bg-theme-rose-white p-6">
          <h2 class="mb-4 text-xl font-semibold text-theme-dark-raspberry">
            Preparation time
          </h2>
          <ul
            class="grid list-disc gap-y-2 pl-6 marker:text-xs marker:text-theme-dark-raspberry"
          >
            <li class="pl-4 text-theme-wenge-brown">
              <span class="font-bold">Total:</span> Approximately 10 minutes
            </li>
            <li class="pl-4 text-theme-wenge-brown">
              <span class="font-bold">Preparation:</span> 5 minutes
            </li>
            <li class="pl-4 text-theme-wenge-brown">
              <span class="font-bold">Cooking:</span> 5 minutes
            </li>
          </ul>
        </div>
      </section>
      <section class="mx-10 mb-6 border-b border-theme-light-grey">
        <h2 class="mb-4 font-young-serif text-[28px] text-theme-nutmeg">
          Ingredients
        </h2>
        <ul
          class="mb-8 grid list-disc gap-y-2 pl-6 marker:text-xs marker:text-theme-nutmeg"
        >
          <li class="pl-4 text-theme-wenge-brown">2-3 large eggs</li>
          <li class="pl-4 text-theme-wenge-brown">Salt, to taste</li>
          <li class="pl-4 text-theme-wenge-brown">Pepper, to taste</li>
          <li class="pl-4 text-theme-wenge-brown">
            1 tablespoon of butter or oil
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            Optional fillings: cheese, diced vegatables, cooked meats, herbs
          </li>
        </ul>
      </section>
      <section class="mx-10 mb-6 border-b border-theme-light-grey">
        <h2 class="mb-4 font-young-serif text-[28px] text-theme-nutmeg">
          Instructions
        </h2>
        <ol
          class="mb-8 grid list-decimal gap-y-2 pl-6 marker:font-bold marker:text-theme-nutmeg"
        >
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Beat the eggs: </span>In a bowl, beat the
            eggs with a pinch of salt and pepper until they are well mixed. You
            can add a tablespoon of water or milk for a fluffier texture.
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Heat the pan: </span>Place a non-stick
            frying pan over medium heat and add butter or oil.
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Cook the omelette: </span>Once the butter is
            melted and bubbling, pour in the eggs. Tilt the pan to ensure the
            eggs evenly coat the surface.
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Add fillings (optional): </span>When the
            eggs begin to set at the edges but are still slightly runny in the
            middle, sprinkle your chosen fillings over one half of the omelette.
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Fold and serve: </span>As the omelette
            continues to cook, carefully lift one edge and fold it over the
            fillings. Let it cook for another minute, then slide it onto a
            plate.
          </li>
          <li class="pl-4 text-theme-wenge-brown">
            <span class="font-bold">Enjoy: </span>Serve hot, with additional
            salt and pepper if needed.
          </li>
        </ol>
      </section>
      <section class="mx-10 pb-6">
        <h2 class="mb-4 font-young-serif text-[28px] text-theme-nutmeg">
          Nutrition
        </h2>
        <p class="text-md mb-3 text-theme-wenge-brown">
          The table below shows nutritional values per serving without
          additional fillings.
        </p>
        <table class="mb-4 w-full table-auto text-theme-wenge-brown">
          <tr class="border-b border-theme-light-grey">
            <td class="py-3 pl-8">Calories</td>
            <td class="pl-25 font-bold text-theme-nutmeg">277kcal</td>
          </tr>
          <tr class="border-b border-theme-light-grey">
            <td class="py-3 pl-8">Carbs</td>
            <td class="pl-25 font-bold text-theme-nutmeg">0g</td>
          </tr>
          <tr class="border-b border-theme-light-grey">
            <td class="py-3 pl-8">Protein</td>
            <td class="pl-25 font-bold text-theme-nutmeg">20g</td>
          </tr>
          <tr>
            <td class="py-3 pl-8">Fat</td>
            <td class="pl-25 font-bold text-theme-nutmeg">22g</td>
          </tr>
        </table>
      </section>
    </div>
  </main>
</MainLayout>
