---
import Image from "astro/components/Image.astro";
import MainLayout from "@/layouts/MainLayout.astro";

import omlette from "@/assets/image-omelette.jpeg";
---

<MainLayout title="Frontend Mentor | Recipe Page">
  <article class="mx-auto bg-neutralWhite md:my-24 md:w-[738px] md:rounded-3xl">
    <Image
      src={omlette}
      alt="Yummy Omlette"
      loading={"eager"}
      class="mb-8 px-0 pt-0 md:rounded-xl md:px-10 md:pt-10"
    />

    <section class="mx-10 mb-8">
      <h1
        class="mb-4 font-youngSerif text-[40px] leading-none text-neutralDarkCharcoal md:leading-normal"
      >
        Simple Omelette Recipe
      </h1>
      <p class="text-md mb-10 text-neutralWengeBrown">
        An easy and quick disk, perfect for any meal. This classic omellet
        combines beaten eggs cooked to perfection, optionally filled with your
        choice of cheese, vegatables, or meats.
      </p>
      <div class="bg-neutralRoseWhite p-6">
        <h3 class="mb-4 text-xl font-semibold text-primaryDarkRaspberry">
          Preparation time
        </h3>
        <ul
          class="grid list-disc gap-y-2 pl-6 marker:text-xs marker:text-primaryDarkRaspberry"
        >
          <li class="pl-4 text-neutralWengeBrown">
            <span class="font-bold">Total:</span> Approximately 10 minutes
          </li>
          <li class="pl-4 text-neutralWengeBrown">
            <span class="font-bold">Preparation:</span> 5 minutes
          </li>
          <li class="pl-4 text-neutralWengeBrown">
            <span class="font-bold">Cooking:</span> 5 minutes
          </li>
        </ul>
      </div>
    </section>

    <section class="mx-10 mb-6 border-b border-neutralLightGrey">
      <h2 class="mb-4 font-youngSerif text-[28px] text-primaryNutmeg">
        Ingredients
      </h2>
      <ul
        class="mb-8 grid list-disc gap-y-2 pl-6 marker:text-xs marker:text-primaryNutmeg"
      >
        <li class="pl-4 text-neutralWengeBrown">2-3 large eggs</li>
        <li class="pl-4 text-neutralWengeBrown">Salt, to taste</li>
        <li class="pl-4 text-neutralWengeBrown">Pepper, to taste</li>
        <li class="pl-4 text-neutralWengeBrown">
          1 tablespoon of butter or oil
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          Optional fillings: cheese, diced vegatables, cooked meats, herbs
        </li>
      </ul>
    </section>

    <section class="mx-10 mb-6 border-b border-neutralLightGrey">
      <h2 class="mb-4 font-youngSerif text-[28px] text-primaryNutmeg">
        Instructions
      </h2>
      <ol
        class="mb-8 grid list-decimal gap-y-2 pl-6 marker:font-bold marker:text-primaryNutmeg"
      >
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Beat the eggs: </span>In a bowl, beat the eggs
          with a pinch of salt and pepper until they are well mixed. You can add
          a tablespoon of water or milk for a fluffier texture.
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Heat the pan: </span>Place a non-stick frying
          pan over medium heat and add butter or oil.
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Cook the omelette: </span>Once the butter is
          melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs
          evenly coat the surface.
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Add fillings (optional): </span>When the eggs
          begin to set at the edges but are still slightly runny in the middle,
          sprinkle your chosen fillings over one half of the omelette.
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Fold and serve: </span>As the omelette
          continues to cook, carefully lift one edge and fold it over the
          fillings. Let it cook for another minute, then slide it onto a plate.
        </li>
        <li class="pl-4 text-neutralWengeBrown">
          <span class="font-bold">Enjoy: </span>Serve hot, with additional salt
          and pepper if needed.
        </li>
      </ol>
    </section>

    <section class="mx-10 pb-10">
      <h2 class="mb-4 font-youngSerif text-[28px] text-primaryNutmeg">
        Nutrition
      </h2>
      <p class="text-md mb-3 text-neutralWengeBrown">
        The table below shows nutritional values per serving without additional
        fillings.
      </p>
      <table class="mb-4 w-full table-auto text-neutralWengeBrown">
        <tr class="border-b border-neutralLightGrey">
          <td class="py-3 pl-8">Calories</td>
          <td class="pl-[100px] font-bold text-primaryNutmeg">277kcal</td>
        </tr>
        <tr class="border-b border-neutralLightGrey">
          <td class="py-3 pl-8">Carbs</td>
          <td class="pl-[100px] font-bold text-primaryNutmeg">0g</td>
        </tr>
        <tr class="border-b border-neutralLightGrey">
          <td class="py-3 pl-8">Protein</td>
          <td class="pl-[100px] font-bold text-primaryNutmeg">20g</td>
        </tr>
        <tr>
          <td class="py-3 pl-8">Fat</td>
          <td class="pl-[100px] font-bold text-primaryNutmeg">22g</td>
        </tr>
      </table>
    </section>
  </article>
</MainLayout>
