---
import Image from "astro/components/Image.astro";
import MainLayout from "@/layouts/MainLayout.astro";

import omlette from "@/assets/image-omelette.jpeg";
---

<MainLayout title="Frontend Mentor | Recipe Page">
  <main>
    <div class="bg-neutral-white mx-auto md:my-28 md:w-[738px] md:rounded-3xl">
      <div class="mb-8 px-0 pt-0 md:rounded-xl md:px-10 md:pt-10">
        <Image
          src={omlette}
          alt="Yummy Omlette"
          loading={"eager"}
          class="md:rounded-xl"
        />
      </div>
      <section class="mx-10 mb-8">
        <h1
          class="font-young-serif text-neutral-dark-charcoal mb-4 text-[40px] leading-none md:leading-normal"
        >
          Simple Omelette Recipe
        </h1>
        <p class="text-md text-neutral-wenge-brown mb-10">
          An easy and quick disk, perfect for any meal. This classic omellet
          combines beaten eggs cooked to perfection, optionally filled with your
          choice of cheese, vegatables, or meats.
        </p>
        <div class="bg-neutral-rose-white p-6">
          <h2 class="text-primary-dark-raspberry mb-4 text-xl font-semibold">
            Preparation time
          </h2>
          <ul
            class="marker:text-primary-dark-raspberry grid list-disc gap-y-2 pl-6 marker:text-xs"
          >
            <li class="text-neutral-wenge-brown pl-4">
              <span class="font-bold">Total:</span> Approximately 10 minutes
            </li>
            <li class="text-neutral-wenge-brown pl-4">
              <span class="font-bold">Preparation:</span> 5 minutes
            </li>
            <li class="text-neutral-wenge-brown pl-4">
              <span class="font-bold">Cooking:</span> 5 minutes
            </li>
          </ul>
        </div>
      </section>
      <section class="border-neutral-light-grey mx-10 mb-6 border-b">
        <h2 class="font-young-serif text-primary-nutmeg mb-4 text-[28px]">
          Ingredients
        </h2>
        <ul
          class="marker:text-primary-nutmeg mb-8 grid list-disc gap-y-2 pl-6 marker:text-xs"
        >
          <li class="text-neutral-wenge-brown pl-4">2-3 large eggs</li>
          <li class="text-neutral-wenge-brown pl-4">Salt, to taste</li>
          <li class="text-neutral-wenge-brown pl-4">Pepper, to taste</li>
          <li class="text-neutral-wenge-brown pl-4">
            1 tablespoon of butter or oil
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            Optional fillings: cheese, diced vegatables, cooked meats, herbs
          </li>
        </ul>
      </section>
      <section class="border-neutral-light-grey mx-10 mb-6 border-b">
        <h2 class="font-young-serif text-primary-nutmeg mb-4 text-[28px]">
          Instructions
        </h2>
        <ol
          class="marker:text-primary-nutmeg mb-8 grid list-decimal gap-y-2 pl-6 marker:font-bold"
        >
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Beat the eggs: </span>In a bowl, beat the
            eggs with a pinch of salt and pepper until they are well mixed. You
            can add a tablespoon of water or milk for a fluffier texture.
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Heat the pan: </span>Place a non-stick
            frying pan over medium heat and add butter or oil.
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Cook the omelette: </span>Once the butter is
            melted and bubbling, pour in the eggs. Tilt the pan to ensure the
            eggs evenly coat the surface.
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Add fillings (optional): </span>When the
            eggs begin to set at the edges but are still slightly runny in the
            middle, sprinkle your chosen fillings over one half of the omelette.
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Fold and serve: </span>As the omelette
            continues to cook, carefully lift one edge and fold it over the
            fillings. Let it cook for another minute, then slide it onto a
            plate.
          </li>
          <li class="text-neutral-wenge-brown pl-4">
            <span class="font-bold">Enjoy: </span>Serve hot, with additional
            salt and pepper if needed.
          </li>
        </ol>
      </section>
      <section class="mx-10 pb-6">
        <h2 class="font-young-serif text-primary-nutmeg mb-4 text-[28px]">
          Nutrition
        </h2>
        <p class="text-md text-neutral-wenge-brown mb-3">
          The table below shows nutritional values per serving without
          additional fillings.
        </p>
        <table class="text-neutral-wenge-brown mb-4 w-full table-auto">
          <tr class="border-neutral-light-grey border-b">
            <td class="py-3 pl-8">Calories</td>
            <td class="text-primary-nutmeg pl-[100px] font-bold">277kcal</td>
          </tr>
          <tr class="border-neutral-light-grey border-b">
            <td class="py-3 pl-8">Carbs</td>
            <td class="text-primary-nutmeg pl-[100px] font-bold">0g</td>
          </tr>
          <tr class="border-neutral-light-grey border-b">
            <td class="py-3 pl-8">Protein</td>
            <td class="text-primary-nutmeg pl-[100px] font-bold">20g</td>
          </tr>
          <tr>
            <td class="py-3 pl-8">Fat</td>
            <td class="text-primary-nutmeg pl-[100px] font-bold">22g</td>
          </tr>
        </table>
      </section>
    </div>
  </main>
</MainLayout>
